extends layout

block content
  .container
    .episode
      span.badge.badge-info='Ep.'+episode.no
      h1=episode.title
      p
       a(href='/a/edit/episodes/' + episode._id )
        small Edit this episode
      hr
  .contents
    each content in episode.contents
      img(src=content class='content-img' alt='content img')
