extends layout

block content
  div#firebaseui-auth-container
  .container.js-container
    .series
      ul.list-unstyled
        each aSeries in series
          li
            a(href='/series/' + aSeries.slug) #{aSeries.title} - #{aSeries.author}
        else
          li No series.
    hr
    p: a(href='/a/new/series') Post a new series
