extends layout

block content
  .container
    h1 Enter a password for #{series.title}
    form(method='post')
      .form-group
        label(for='password') Password
        input(id='password' name='password' class='form-control' required)
        input(type='hidden' name='no' value=no)
      hr
      button(class='btn btn-primary mr-2' type='submit') Submit
      a(href='/series/' + series.slug class='btn') Cancel
