extends layout

block content
  .container.js-container
    .episodes
      h1=series.title
      if editable
        p
          a(href='/a/edit/series/' + series.slug)
            small Edit this series
        p
          a(href='/a/new/series/' + series.slug + '/episode') Post a new episode
      hr
      ul.list-unstyled
        each episode, index in episodes
          li(class='border-bottom border-light ' + (index === 0 ? 'border-top' : ''))
            a(href='/series/' + series.slug + '/episodes/' + episode.no)
              div.media
                img(src=episode.contents[0] width=80 height=80)
                div.media-body.ml-2
                  p
                    span.badge.badge-info.mr-2='Ep.'+episode.no
                    =episode.title
        else
          li No episodes.
