extends layout

block content
  .container
    if series._id
      h1 Edit series
    else
      h1 Post a new series
    if mode === 'err'
      p.p-3.mb-2.bg-danger.text-white All fields are required.
    form(method='post')
      .form-group
        label(for='title') Title
        input(id='title' name='title' class='form-control' required value=series.title)
      .form-group
        label(for='author') Author
        input(id='author' name='author' class='form-control' required value=series.author)
      input(type='hidden' name='_id' value=series._id)
      hr
      button(class='btn btn-primary' type='submit') Post


