extends layout

block content
  .container.js-container
    .episodes
      h1=aSeries.title
      p
        a(href='/a/edit/series/' + aSeries.slug) Edit this series
      p
        a(href='/a/new/episode') Post a new episode
      hr
      ul.list-unstyled
        each episode, index in episodes
          li(class='border-bottom border-light ' + (index === 0 ? 'border-top' : ''))
            a(href='/series/' + aSeries.slug + '/ep/' + episode.no)
              div.media
                img(src=episode.thumb width=80 height=80)
                div.media-body
                  p.mb-0= '(Ep.' + episode.no + ') ' + episode.title
        else
          li No episodes.
